<!DOCTYPE html>
<html lang="sv" ng-app="bawang">
<head>
    <meta charset="UTF-8" />
    <title>Konglig Datasektionen</title>

    <link rel="stylesheet" href="/assets/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/assets/ngprogress/ngProgress.css" type="text/css" />

    <script src="/assets/angular/angular.js"></script>
    <script src="/assets/angular-route/angular-route.js"></script>
    <script src="/assets/angular-resource/angular-resource.js"></script>
    <script src="/assets/angular-animate/angular-animate.js"></script>
    <script src="/assets/ngprogress/ngProgress.js"></script>
    <script src="/assets/js/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />

</head>
<body>

    <application class="application"></application>

</body>
</html>