#hello_tomorrow {
  background: #ec5f99;
  line-height: 175%;
  padding: 20px;
  color: #fff;
  font-weight: 100;
}
#hello_tomorrow strong {
  font-weight: 900;
}
#hello_tomorrow a {
  color: #fff;
  font-weight: 900;
}
@media screen and (max-width: 400px) {
  #hello_tomorrow {
    padding: 10px;
    font-size: 14px;
  }
}
h2#sections_intro {
  text-transform: uppercase;
  color: #6e838f;
  font-weight: 100;
  border: none;
  margin: 0;
  padding: 25px 0 40px;
  font-size: 35px;
  text-align: center;
}
h2#sections_intro span {
  font-weight: 900;
  color: #e83d84;
}
@media screen and (max-width: 400px) {
  h2#sections_intro {
    font-size: 25px;
  }
}
#home_sections .home_section_icon {
  color: #e83d84;
  font-size: 80px;
  text-align: center;
}
#home_sections :first-child .home_section_icon i:before {
  content: "\f19d";
}
#home_sections :nth-child(2) .home_section_icon i:before {
  content: "\f004";
}
#home_sections :nth-child(3) .home_section_icon i:before {
  content: "\f1ad";
}
#home_sections h2 {
  text-align: center;
}
#home_sections p {
  font-size: 15px;
  line-height: 185%;
  text-align: justify;
  display: block;
}
a.action {
  display: table;
  background: #e83d84;
  border-bottom: 4px solid #c2175e;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  padding: 7px 15px 3px;
  color: #fff !important;
  text-align: center;
  margin: 20px auto 0;
}
.inline_link {
  color: #e83d84;
  text-decoration: underline !important;
}
#footer {
  background: #333333;
  margin: -50px 0;
  padding-bottom: 0;
  height: 300px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

#footer #contact {
  text-align: center;
}
#footer #contact p {
  color: #fff;
}
@media screen and (max-width: 400px) {
  #footer #contact {
    padding-bottom: 20px;
  }
}
#footer #map {
  padding: 0;
  height: 300px;
  overflow: hidden;
}
