.frontpage header {
  height: 400px;
  padding: 2em;
  text-align: center;
  text-transform: uppercase;
}

.frontpage header .title {
  color: #eee;
  display: inline-block;
}

.frontpage header .title .bold {
  font-size: 5em;
  font-weight: bolder;
  text-shadow: -1px -2px #ff0, 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.3em;
}

.frontpage header .title .bold img {
  margin: 0 0.3em;
  height: 1.3em;
  vertical-align: text-top;
}

.frontpage header .title .thin {
  color: #eee;
  font-size: initial;
  font-weight: lighter;
  display: block;
}

.frontpage header .title .left {
  text-align: left;
  margin-bottom: -10px;
}

.frontpage header .title .right {
  text-align: right;
  margin-top: -10px;
}

.frontpage .flex {
  display: flex;
}

.frontpage .content {
  position: relative;
  background: #fff;
  color: #666;
  max-width: 1240px;
  margin: 10px auto;
  padding: 40px 50px;
  min-height: 0;
  top: -220px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 21;
}

.frontpage .content .intro {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.frontpage .content .intro h3 {
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

.frontpage .content .intro p {
  display: none;
}

.frontpage .content .news h2 {
  color: #ee2a7b;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px #ff0;
  margin: 20px;
}

.frontpage .content .news ul {
  list-style: none;
  padding: 0;
}

.frontpage .content .news ul li {
  margin: 10px;
}

.frontpage .content .news ul li h3 {
  border: none;
  padding: 0;
  margin: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.frontpage .content .news ul li span {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 13px;
}

.frontpage .content:after {
  content: '';
  display: block;
  clear: both;
}
